.purple {
    color: purple;
    font-weight: bold;
    font-size: 30px;
}
.red {
    color: red;
    font-weight: lighter;
    font-style: italic;
    font-size: 40px;
}
.green {
    background-color: green;
    height: 50px;
    width: 250px;
    color: blanchedalmond;
    text-align: center;
}
.black {
    background-color: black;
    height: 50px;
    width: 400px;
    color: blanchedalmond;
    text-align: center;
}